$body-fontFamily: $g-fontFamily !default;
$body-fontSize: $g-fontSize !default;
$body-color: #000 !default;
$body-lineHeight: $g-lineHeight !default;
$body-fill: #fff !default;
$body-fontColor: $body-color !default;

/*
 * sircus-elements-body
 ================================================== */
body {
  font-family: $body-fontFamily;
  font-size: $body-fontSize;
  line-height: $body-lineHeight;
  color: $body-color;
  background-color: $body-fill;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
